<html>
	<body>
		<div>
			<selection >
			   	<div class="top_text">
					ようこそ「Movie Encounter」へ!!<br>
					当サイトはユーザーがオススメの映画を共有するサイトです。<br>
					あなたのオススメ映画をぜひユーザーへ共有してみましょう！<br>
					そして、あなた自身も新たな映画との出会いがきっとあるでしょう。
				</div>
			</selection>
		</div>
	</body>
</html>
