<html>
	<head>
		<meta charset="utf-8" />
	    <title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	   <link rel="stylesheet" type="text/css"　herf="application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<selection >
			   	<div class="top_text">
					ようこそHello! Youtuberへ<br>
					当サイトはユーザーがオススメのYoutuberを共有するサイトです<br>
					あなたのオススメするYoutuberをぜひユーザーへ共有してみましょう！<br>
					そして、あなた自身も新たなYoutuberとの出会いがきっとあるでしょう
				</div>
			</selection>
		</div>
	<script type="text/javascript" src="../../../assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../../assets/javascripts/application.js"></script>
	</body>
</html>
