<h1>投稿詳細</h1>

<d1v>Youtuber名</d1v><br>
	<p><%= @post.title %></p><br>
<div>ここがオススメ！</div><br>
	<p><%= @post.body %></p><br>
<div>ジャンル</div><br>
	<p><%= @post.genre %></p><br>

<%= link_to "一覧に戻る", posts_path %>