/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: 400px;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  background-image: url("/images/top.png")
}

header .box {
  margin: 0 auto;
  width: 90%;
  padding: 80px;
}

.headline {
  font-size: 50px;
  margin: 0 auto;
  width: 70%;
  background-color: white;
  font-family: 'Krona One', sans-serif;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 20px;
  width: 70%;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

body {
  background-color: white;
}

.top_text {
  width: 90%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.main {
  width: 100%;
  height: 0 auto;
  background-color: #dcdcdc;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  height: 1450px;
  float: left;
  background-color: #808080;
}

.sidebar_box {
}

.sidebar_title{
  text-align: center;
  color: white;
  padding: 0.5em 0;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-family: 'M PLUS 1p', sans-serif;
}

.sidebar_item {
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  color: black;
  width: 80%;
  height: 0 auto;
  margin: 20px;
  background-color: white;
}

.post-rank {
  width: 80%;
  float: left;
}

.post-new {
  width: 80%;
  height: 0 auto;
  float: left;
}


.post_title {
  text-align: center;
  color: white;
  padding: 0.5em 0;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  background-color: #808080;
  font-family: 'M PLUS 1p', sans-serif;
}

.post_item {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: auto;
  margin: 35px;
  background-color: white;
  font-family: 'M PLUS 1p', sans-serif;

}

.post_item_title {
  background-color: #cd5c5c;
}

.post-page {
  text-align: center;
  height: auto;
  font-size: 30px;
}

.user-sidebar {
  width: 20%;
  height: 2000px;
  float: left;
  background-color: #808080;
}

.user-sidebar-title{
  text-align: center;
  color: white;
  padding: 0.5em 0;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 24px;
}

.user-sidebar-item {
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  color: black;
  width: 80%;
  height: 0 auto;
  margin: 20px;
  background-color: white;
}

.user_item_title {
  background-color: #eee8aa;
}


.massage {
  text-align: center;
  color: white;
  font-size: 30px;
  width: auto;
  height: 50px;
  background-color: #cd5c5c;
}

.flex_main-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

.flex_main-box_item {
  padding: 10px;
  margin: 20px;
  text-align: center;
  background-color: white;
  font-family: 'M PLUS 1p', sans-serif;
}

.post_main-box_title {
  text-align: center;
  padding: 0 auto;
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  font-family: 'M PLUS 1p', sans-serif;
}

.post_index_item{
  width: 250px;
  margin: 10px;
}

.post_index_item_image {
  background-color: white;
  text-align: center;
}

.post_index_item_title {
 background-color: #ffa500;
}

.post_show_image {
  text-align: center;
  padding: 10px;
}

.post_show_title {
  background-color: #dcdcdc;
}

.post_show_item {
  padding: 0 auto;
}

.post_comment_post_item {
  text-align: center;
  padding: 10px;
}

.post_comment_all {
  width: 300px;
  height: auto;
}

.post_comment {
  height: auto;
  width: 250px;
  margin: 10px auto;
  background-color: white;
  border: 3px solid #364e96;
}

.post_new {
  width: 60%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'M PLUS 1p', sans-serif;
}

.post_new_item {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}


.user_show_user_box {
  width: 250px;
  margin: 10px auto;
}

.user_show_user_title {
  background-color: #7fffd4;
}

.user_show_user_image{
  text-align: center;
}

.user_edit_main {
  width: 60%;
  padding: 15px 0;
  margin: 0 auto;
  font-family: 'M PLUS 1p', sans-serif;
}

.user_edit_user {
  text-align: center;
  padding: 10px;
}

.user_edit_user_title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.user_edit_user_item {
  padding: 10px;
}

.botton {
  padding: 5px;
  float: left;
}

.reaction {
  text-align: center;
  background-color: #ffd700;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}